<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("layout/header") -%>
  <body>
    <!-- Navigation-->
    <%- include("layout/navbar") -%>
    <!-- Banner -->
    <main class="banner-main">
      <div class="banner-info">
        <div class="heading">
          <h1>DASHBOARD</h1>
          <h2>WELCOME TO LICENCE'S WEBSITE</h2>
        </div>
      </div>
    </main>

    <!-- main -->
    <div class="container">
      <div class="card text-center mt-5 mb-5">
        <div class="card-body">
          <h5 class="card-title">License Test</h5>
          <p class="card-text">
            Is driving a right? You are entitled to a driving license if you can
            abide by the traffic laws and driver responsibly. If your driving
            endangers the lives of others, that license will be taken away from
            you. So rights and responsibilities are inseparable. If you can't
            respect the rights of others, if by your belief and conduct you
            endanger the lives of other people, you are not entitled to any
            right.
          </p>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <%- include("layout/footer") -%>
    <!-- JS -->
    <%- include("layout/script") -%>
  </body>
</html>
