<footer>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <p class="card-text">Copyright &copy; License Website 2022</p>
      <a href="/" class="btn btn-dark">Go To Dashboard</a>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</footer>
